<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>背单词系统</title>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <link href="../static/css/newindex.css" rel="stylesheet"/>
    <link href="../static/css/star.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <style>

    </style>
</head>


<body>
<div class="container-fluid">


    <div class="panel shadow-lg p-3 mb-5 rounded">
        <div id="word_str" style="color:#f0f0f0;text-align:center;font-size:40px">背单词系统</div>

        <div id="login_form">
            <input class="inputbox" type="text" name="USERNAME" placeholder="Username" id="username"/>
            <br/>
            <input class="inputbox" type="password" name="PASSWORD" placeholder="Password" id="password"/>
            <br/>
            <button type="submit" class="btn btn-primary" onclick="loginFn()">登录</button>
            <a class="btn btn-primary" href="/signup">注册</a>
        </div>
    </div>

    <div class="index">
        <div id="stars">
            <div class="star" style="top: 0px;left: 500px;"></div>
        </div>
    </div>
</div>


</body>
<script src="../static/js/login.js"></script>
<script src="../static/js/star.js"></script>


</html>

